* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
}
.about {
  padding-top: 20px;
  text-align: justify;
}
.profile-card {
  width: 780px;
  max-width: calc(100vw - 10px);
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
}
body {
  height: 100vh;
}
.head, .links {
  text-align: center;
}
.head, .content {
  width: 90%;
  margin: 0 auto;
}
img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}
img {
  width: 120px;
  height: 120px;
}
.profile-image {
  margin-top: -60px;
}
ul {
  list-style-type: none;
}
li {
  display: inline;
}
.head, .about {
  margin-bottom: 5%;
}
.content {
  padding: 2,5% 5%;
}
body {
  background: URL('assets/elegant.jpg') no-repeat center center fixed;
  background-size: cover;
  font-family: 'Brush Script MT', cursive;
  color: rgb(249, 26, 82);
  font-size: 20px;
}
.profile-card {
  background-color: rgba(0,0,0,0.5);
  border-radius: 4px;
  box-shadow: hsla(0, 0%, 0%, 0.6) 10px 10px 80px;
}
img {
  padding: 1px;
  background-color: rgb(249, 26, 82);
}
.content {
  border-top: 2px solid rgb(249, 26, 82);
}
img:hover {
  transform: scale(1.5);
  transition: all 0.5s ease-in-out;
  filter: grayscale(20%);
}

.job {
  margin-bottom: 20px;
  margin-left: 25px;
}
a {
  color: rgb(249, 26, 82);
}
.profile-card:hover {
  transform: scale(1.2);
  transition: all 0.5s ease-in-out;